.main{
    background-color: bisque;
     
}

h1.headerClass {
    background-color: green;
    
    
    margin: inherit;
    
    text-align: center;
    
    
    
}


.horizontal
{
    width: 70%;
    
}


.imageOne{
    height: 30%;
    width: 30%;
    transform: rotate(90deg);
    
    margin-left: 30%
 
}

.nav1
{
    width: 100%;
    margin: inherit;
    
    border-top-style: solid;
    border-bottom-style: solid;
    
    text-align: center;
    
    background-color: black;
}

.nav1A
{
    color: white;
    margin-left: 4%;
}

/*Formats the photo*/
.division1
{
    margin: auto;
    width: 50%;
    margin-top: 5%;
    margin-bottom: 5%;
}




/*This formats the div for entire body*/
.body
{
    background-color: grey;
/*
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
*/
    
    margin: auto;
    width: 60%;
    
}

