body {
    background-color: bisque;
     
}

h1.headerClass {
    background-color: white;
   
    border-width: 10px;
   
    margin-left: 40%;
    margin-top: 5%;

    
    
}

.table1
{
    margin-left: inherit;
    margin-right: inherit;;
}

.table1First
{
    padding-left: 8%;
    padding-right: 8%;
}


.horizontal
{
    width: 680px;
    
}


.imageOne{
    height: 10%;
    width: 10%;
    transform: rotate(90deg);
    
    margin-left: 40%
 
}

.division
{
    
}

.division1
{
    
}

.divisionHeader
{
    
}

.footerClass
{
    
}

.body
{
    background-color: white;
    margin-left: 20%;
    margin-right: 20%;
}

